/* screen - - */

.x {
  align-items: flex-start;
  display: flex;
  width: 1440px;
}

#overlay-- {
  background-color: transparent;
}

.overlay .x {
  background-color: #00000000;
}

.x .view {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  left: calc(50vw - 720.0px);
  overflow: hidden;
  position: relative;
  top: calc(50vh - 512.0px);
  width: 1440px;
}

.x .overlap-group6 {
  height: 1024px;
  margin-left: -5px;
  position: relative;
  width: 1445px;
}

.x .rectangle-17 {
  background-color: var(--tundora-2);
  height: 92px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x .text-container {
  height: 46px;
  left: 1155px;
  position: absolute;
  top: 25px;
  width: 188px;
}

.x .text-43 {
  left: 0;
  letter-spacing: -0.81px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 63px;
}

.x .text-44 {
  left: 61px;
  letter-spacing: -0.81px;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 127px;
}

.x .frame-1 {
  height: 50px;
  left: 16px;
  position: absolute;
  top: 21px;
  width: 300px;
}

.x .frame-2 {
  height: 51px;
  left: 0;
  position: absolute;
  top: 193px;
  width: 290px;
}

.x .text-45 {
  left: 1359px;
  letter-spacing: -0.81px;
  position: absolute;
  text-align: center;
  top: 25px;
  width: 63px;
}

.x .overlap-group1 {
  border-radius: 20px;
  height: 140px;
  left: 57px;
  position: absolute;
  top: 264px;
  width: 176px;
}

.x .rectangle-28 {
  height: 48px;
  left: 1px;
  position: absolute;
  top: 92px;
  width: 175px;
}

.x .rectangle-19 {
  border-radius: 20px;
  height: 140px;
  left: 0;
  position: absolute;
  top: 0;
  width: 176px;
}

.x .vector-2 {
  height: 2px;
  left: 1px;
  position: absolute;
  top: 47px;
  width: 173px;
}

.x .vector-3 {
  height: 2px;
  left: 1px;
  position: absolute;
  top: 91px;
  width: 173px;
}

.x .text-46 {
  left: 20px;
  letter-spacing: -0.81px;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 131px;
}

.x .text-47 {
  left: 20px;
  letter-spacing: -0.81px;
  position: absolute;
  text-align: center;
  top: 105px;
  width: 131px;
}

.x .text-48 {
  left: 20px;
  letter-spacing: -0.81px;
  position: absolute;
  text-align: center;
  top: 56px;
  width: 131px;
}

.x .rectangle-18 {
  align-items: flex-start;
  display: flex;
  height: 719px;
  justify-content: center;
  left: 273px;
  min-width: 1117px;
  position: absolute;
  top: 208px;
}

.x .overlap-group2 {
  border-radius: 20px;
  height: 723px;
  margin-top: -2px;
  position: relative;
  width: 1121px;
}

.x .group-2 {
  height: 536px;
  left: 55px;
  position: absolute;
  top: 68px;
  width: 1010px;
}

.x .rectangle-18-1 {
  border-radius: 20px;
  height: 723px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1121px;
}

.x .overlap-group3 {
  align-items: flex-end;
  background-color: var(--alto);
  display: flex;
  height: 52px;
  left: 326px;
  min-width: 1009px;
  padding: 1px 0;
  position: absolute;
  top: 276px;
}

.x .number {
  height: 46px;
  letter-spacing: 0.60px;
  text-align: center;
  width: 56px;
}

.x .text {
  height: 49px;
  letter-spacing: 0.60px;
  margin-left: 48px;
  text-align: center;
  width: 222px;
}

.x .date {
  align-self: flex-start;
  height: 44px;
  letter-spacing: 0.60px;
  margin-left: 48px;
  margin-top: 1px;
  text-align: center;
  width: 148px;
}

.x .text-5 {
  height: 44px;
  letter-spacing: 0.60px;
  margin-bottom: 1px;
  margin-left: 76px;
  text-align: center;
  width: 148px;
}

.x .phone {
  align-self: center;
  height: 44px;
  letter-spacing: 0.60px;
  margin-left: 84px;
  text-align: center;
  width: 148px;
}

.x .contents2 {
  align-items: flex-end;
  display: flex;
  height: 49px;
  left: 326px;
  min-width: 988px;
  position: absolute;
  top: 335px;
}

.x .date-1 {
  align-self: flex-start;
  height: 44px;
  letter-spacing: 0.60px;
  margin-left: 48px;
  text-align: center;
  width: 148px;
}

.x .phone-1 {
  align-self: center;
  height: 44px;
  letter-spacing: 0.60px;
  margin-bottom: 1.0px;
  margin-left: 84px;
  text-align: center;
  width: 148px;
}

.x .group-5 {
  align-items: flex-start;
  display: flex;
  height: 40px;
  left: 316px;
  min-width: 231px;
  position: absolute;
  top: 862px;
}

.x .button {
  align-items: flex-start;
  background-color: var(--tundora);
  border-radius: 10px;
  display: flex;
  height: 40px;
  min-width: 100px;
  padding: 10.6px 22.5px;
}

.x .log-in {
  height: 15px;
  letter-spacing: 0.52px;
  min-width: 50px;
  text-align: center;
}

.x .button-1 {
  align-items: flex-start;
  background-color: var(--tundora);
  border-radius: 10px;
  display: flex;
  height: 40px;
  margin-left: 31px;
  min-width: 100px;
  padding: 10.6px 22.5px;
}

.x .overlap-group4 {
  border-radius: 2px;
  height: 30px;
  left: 1229px;
  position: absolute;
  top: 161px;
  width: 150px;
}

.x .view-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 2px;
  box-shadow: 0px 0px 4px #0000003d;
  display: flex;
  height: 30px;
  left: 0;
  overflow: hidden;
  padding: 10.0px 24px;
  position: absolute;
  top: 0;
  width: 150px;
}

.x .caret-2 {
  height: 9px;
  margin-left: 90px;
  width: 12px;
}

.x .phone-2 {
  height: 27px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 1px;
}

.x .group-6 {
  align-items: flex-start;
  display: flex;
  height: 43px;
  left: 304px;
  min-width: 990px;
  position: absolute;
  top: 231px;
}

.x .no {
  height: 37px;
  letter-spacing: 0.80px;
  text-align: center;
  width: 88px;
}

.x .text-54 {
  align-self: flex-end;
  height: 37px;
  letter-spacing: 0.80px;
  margin-left: 105px;
  text-align: center;
  width: 88px;
}

.x .text-1 {
  height: 37px;
  letter-spacing: 0.80px;
  margin-left: 140px;
  text-align: center;
  width: 88px;
}

.x .text-53 {
  align-self: center;
  height: 22px;
  letter-spacing: 0.80px;
  margin-bottom: 7.0px;
  margin-left: 154px;
  text-align: center;
  width: 89px;
}

.x .rectangle-21 {
  background-color: var(--tundora-3);
  height: 1024px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.x .overlap-group5 {
  height: 660px;
  left: 238px;
  position: absolute;
  top: 213px;
  width: 895px;
}

.x .overlap-group2-1 {
  height: 660px;
  left: 0;
  position: absolute;
  top: 0;
  width: 895px;
}

.x .popup {
  background-color: var(--white);
  border-radius: 10px;
  height: 660px;
  left: 25px;
  position: absolute;
  top: 0;
  width: 870px;
}

.x .group-3 {
  align-items: flex-end;
  display: flex;
  height: 606px;
  justify-content: flex-end;
  left: 259px;
  min-width: 611px;
  position: absolute;
  top: 11px;
}

.x .update {
  height: 40px;
  width: 100px;
}

.x .del {
  height: 40px;
  margin-left: 63px;
  width: 100px;
}

.x .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 78px;
  min-height: 606px;
  width: 119px;
}

.x .close {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--tundora);
  border-radius: 10px;
  display: flex;
  height: 30px;
  min-width: 30px;
  padding: 6.0px 8.0px;
}

.x .log-in-1 {
  height: 15px;
  letter-spacing: 0.52px;
  min-width: 9px;
  text-align: center;
}

.x .insert {
  height: 40px;
  margin-top: 536px;
  width: 100px;
}

.x .head {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 166px;
  position: absolute;
  top: 18px;
  width: 817px;
}

.x .view-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 98px;
  width: 270px;
}

.x .text-59 {
  color: var(--black);
  font-family: var(--font-family-font_awesome_5_free-solid);
  font-size: 35px;
  font-weight: 400;
  height: 46px;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 4.0px;
  text-align: center;
  width: 266px;
}

.x .text-60 {
  height: 21px;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: -3px;
  margin-left: 4.0px;
  margin-top: 31px;
  text-align: center;
  white-space: nowrap;
  width: 182px;
}

.x .view-3 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: -8px;
  margin-top: 17px;
  min-width: 733px;
}

.x .overlap-group1-1 {
  height: 50px;
  position: relative;
  width: 126px;
}

.x .rectangle-26 {
  background-color: var(--alto);
  height: 50px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 123px;
}

.x .vector-4 {
  height: 48px;
  left: 124px;
  position: absolute;
  top: 2px;
  width: 1px;
}

.x .text-56 {
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: 125px;
}

.x .text-58 {
  align-self: center;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 10px;
  min-height: 25px;
  text-align: center;
  white-space: nowrap;
  width: 89px;
}

.x .overlap-group {
  height: 51px;
  margin-left: 100px;
  position: relative;
  width: 725px;
}

.x .rectangle-25 {
  background-color: var(--alto);
  height: 50px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 123px;
}

.x .rectangle-23 {
  height: 50px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 725px;
}

.x .vector-5 {
  height: 48px;
  left: 4px;
  position: absolute;
  top: 1px;
  width: 1px;
}

.x .vector-6 {
  height: 48px;
  left: 126px;
  position: absolute;
  top: 2px;
  width: 1px;
}

.x .text-57 {
  left: 2px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: 125px;
}

.x .si {
  left: 168px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: 89px;
}

.x .rectangle-30 {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 341px;
  left: 137px;
  position: absolute;
  top: 213px;
  width: 650px;
}

.x .view-4 {
  align-items: flex-start;
  display: flex;
  height: 305px;
  left: 175px;
  min-width: 535px;
  position: absolute;
  top: 230px;
}

.x .text-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  min-height: 226px;
  width: 101px;
}

.x .text-61 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 101px;
}

.x .text-6 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 23px;
  min-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 101px;
}

.x .text-64 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 84px;
  min-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 101px;
}

.x .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  min-height: 305px;
  width: 416px;
}

.x .flex-row {
  align-items: flex-start;
  display: flex;
  height: 78px;
  min-width: 411px;
}

.x .view-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 78px;
  width: 149px;
}

.x .view-5 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 2px;
  box-shadow: 0px 0px 4px #0000003d;
  display: flex;
  height: 30px;
  overflow: hidden;
  padding: 10.0px 24.4px;
  width: 149px;
}

.x .caret {
  height: 9px;
  margin-left: 89px;
  width: 12px;
}

.x .view-6 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 2px;
  box-shadow: 0px 0px 4px #0000003d;
  display: flex;
  height: 30px;
  margin-top: 18px;
  overflow: hidden;
  padding: 10.0px 24.4px;
  width: 149px;
}

.x .text-65 {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 6px;
  margin-top: 6px;
  min-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 101px;
}

.x .view-7 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 2px;
  box-shadow: 0px 0px 4px #0000003d;
  display: flex;
  height: 30px;
  margin-left: 6px;
  overflow: hidden;
  padding: 10.0px 24.4px;
  width: 149px;
}

.x .view-8 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 2px;
  box-shadow: 0px 0px 4px #0000003d;
  display: flex;
  height: 30px;
  margin-top: 16px;
  overflow: hidden;
  padding: 10.0px 24.4px;
  width: 416px;
}

.x .caret-1 {
  height: 9px;
  margin-left: 356px;
  width: 12px;
}

.x .view-9 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 2px;
  box-shadow: 0px 0px 4px #0000003d;
  display: flex;
  height: 160px;
  margin-top: 21px;
  overflow: hidden;
  padding: 75.0px 24.4px;
  width: 416px;
}

.x .date-2 {
  left: 278px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 233px;
  white-space: nowrap;
  width: 103px;
}

.x .date-3 {
  left: 278px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 280px;
  white-space: nowrap;
  width: 103px;
}

.x .date-4 {
  left: 541px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 233px;
  white-space: nowrap;
  width: 103px;
}

.x .group-10 {
  align-items: center;
  display: flex;
  height: 30px;
  left: 440px;
  min-width: 257px;
  position: absolute;
  top: 279px;
}

.x .text-66 {
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 2.0px;
  min-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 101px;
}

.x .view-10 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 2px;
  box-shadow: 0px 0px 4px #0000003d;
  display: flex;
  height: 30px;
  margin-left: 5px;
  overflow: hidden;
  padding: 10.0px 24.4px;
  width: 149px;
}
