/* screen - -2 */

.x-2 {
  align-items: flex-start;
  display: flex;
  width: 1440px;
}

#overlay--2 {
  background-color: transparent;
}

.overlay .x-2 {
  background-color: #00000000;
}

.x-2 .view {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1024px;
  left: calc(50vw - 720.0px);
  overflow: hidden;
  position: relative;
  top: calc(50vh - 512.0px);
  width: 1440px;
}

.x-2 .overlap-group13 {
  align-items: center;
  background-color: var(--tundora-2);
  display: flex;
  height: 92px;
  margin-top: 3%;
  min-width: 1440px;
  padding: 0 11px;
}

.x-2 .frame-1 {
  height: 50px;
  width: 300px;
}

.x-2 .text-container {
  height: 46px;
  margin-left: 839px;
  margin-top: 4.0px;
  position: relative;
  width: 188px;
}

.x-2 .text-108 {
  left: 0;
  letter-spacing: -0.81px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 63px;
}

.x-2 .text-109 {
  left: 61px;
  letter-spacing: -0.81px;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 127px;
}

.x-2 .group-1 {
  align-items: flex-start;
  display: flex;
  height: 42px;
  margin-left: 16px;
  min-width: 63px;
}

.x-2 .text-110 {
  cursor: pointer;
  letter-spacing: -0.81px;
  margin-top: -1px;
  min-height: 42px;
  text-align: center;
  width: 63px;
}

.x-2 .overlap-group-container {
  height: 615px;
  margin-left: -5px;
  margin-top: 101px;
  position: relative;
  width: 1390px;
}

.x-2 .overlap-group12 {
  height: 615px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1390px;
}

.x-2 .frame-2 {
  height: 51px;
  left: 0;
  position: absolute;
  top: 0;
  width: 290px;
}

.x-2 .calendar {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 273px;
  min-height: 600px;
  position: absolute;
  top: 15px;
  width: 1117px;
}

.x-2 .overlap-group8 {
  height: 600px;
  margin-right: -2.0px;
  position: relative;
  width: 1119px;
}

.x-2 .x31 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 319px;
  min-width: 163px;
  position: absolute;
  top: 509px;
}

.x-2 .number {
  height: 28px;
  letter-spacing: 0;
  margin-top: 8.74px;
  width: 35px;
}

.x-2 .rectangle-3-6 {
  align-self: flex-end;
  height: 91px;
  margin-bottom: -509.29px;
  margin-left: 271px;
  width: 161px;
}

.x-2 .x30 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 159px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 509px;
  width: 163px;
}

.x-2 .number-1 {
  height: 28px;
  letter-spacing: 0;
  margin-left: 12.69px;
  margin-top: 9px;
  width: 35px;
}

.x-2 .rectangle-3 {
  height: 91px;
  margin-top: 472px;
  width: 161px;
}

.x-2 .x29 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 91px;
  position: absolute;
  top: 509px;
  width: 163px;
}

.x-2 .x28 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 956px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 420px;
  width: 163px;
}

.x-2 .rectangle-3-1 {
  height: 91px;
  margin-top: 383px;
  width: 161px;
}

.x-2 .x27 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 797px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 420px;
  width: 163px;
}

.x-2 .x26 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 637px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 420px;
  width: 163px;
}

.x-2 .x25 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 478px;
  min-width: 163px;
  position: absolute;
  top: 420px;
}

.x-2 .rectangle-3-7 {
  align-self: flex-end;
  height: 91px;
  margin-bottom: -419.67px;
  margin-left: 430px;
  width: 161px;
}

.x-2 .x24 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 319px;
  min-width: 163px;
  position: absolute;
  top: 420px;
}

.x-2 .rectangle-3-8 {
  align-self: flex-end;
  height: 91px;
  margin-bottom: -419.67px;
  margin-left: 271px;
  width: 161px;
}

.x-2 .x23 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 159px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 420px;
  width: 163px;
}

.x-2 .x22 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 91px;
  position: absolute;
  top: 420px;
  width: 163px;
}

.x-2 .x21 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 956px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 330px;
  width: 163px;
}

.x-2 .rectangle-3-2 {
  height: 91px;
  margin-top: 293px;
  width: 161px;
}

.x-2 .x20 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 797px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 330px;
  width: 163px;
}

.x-2 .x19 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 637px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 330px;
  width: 163px;
}

.x-2 .x18 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 478px;
  min-width: 163px;
  position: absolute;
  top: 330px;
}

.x-2 .rectangle-3-9 {
  align-self: flex-end;
  height: 91px;
  margin-bottom: -330.05px;
  margin-left: 430px;
  width: 161px;
}

.x-2 .x17 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 319px;
  min-width: 163px;
  position: absolute;
  top: 330px;
}

.x-2 .rectangle-3-10 {
  align-self: flex-end;
  height: 91px;
  margin-bottom: -330.05px;
  margin-left: 271px;
  width: 161px;
}

.x-2 .x16 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 159px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 330px;
  width: 163px;
}

.x-2 .x15 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 91px;
  position: absolute;
  top: 330px;
  width: 163px;
}

.x-2 .x14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 956px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 240px;
  width: 163px;
}

.x-2 .rectangle-3-3 {
  height: 91px;
  margin-top: 203px;
  width: 161px;
}

.x-2 .x13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 797px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 240px;
  width: 163px;
}

.x-2 .x12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 637px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 240px;
  width: 163px;
}

.x-2 .x11 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 478px;
  min-width: 163px;
  position: absolute;
  top: 240px;
}

.x-2 .rectangle-3-11 {
  align-self: flex-end;
  height: 91px;
  margin-bottom: -240.44px;
  margin-left: 430px;
  width: 161px;
}

.x-2 .x10 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 319px;
  min-width: 163px;
  position: absolute;
  top: 240px;
}

.x-2 .rectangle-3-12 {
  align-self: flex-end;
  height: 91px;
  margin-bottom: -240.44px;
  margin-left: 271px;
  width: 161px;
}

.x-2 .x9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 159px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 240px;
  width: 163px;
}

.x-2 .number-2 {
  height: 28px;
  letter-spacing: 0;
  margin-left: 12.69px;
  margin-top: 9px;
  width: 18px;
}

.x-2 .x8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 91px;
  position: absolute;
  top: 240px;
  width: 163px;
}

.x-2 .x7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 956px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 151px;
  width: 163px;
}

.x-2 .rectangle-3-4 {
  height: 91px;
  margin-top: 114px;
  width: 161px;
}

.x-2 .x6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 797px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 151px;
  width: 163px;
}

.x-2 .x5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 637px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 151px;
  width: 163px;
}

.x-2 .x4 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 478px;
  min-width: 163px;
  position: absolute;
  top: 151px;
}

.x-2 .number-3 {
  height: 28px;
  letter-spacing: 0;
  margin-top: 8.74px;
  width: 18px;
}

.x-2 .rectangle-3-13 {
  align-self: flex-end;
  height: 91px;
  margin-bottom: -150.82px;
  margin-left: 447px;
  width: 161px;
}

.x-2 .x3 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 319px;
  min-width: 163px;
  position: absolute;
  top: 151px;
}

.x-2 .rectangle-3-14 {
  align-self: flex-end;
  height: 91px;
  margin-bottom: -150.82px;
  margin-left: 288px;
  width: 161px;
}

.x-2 .x2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 159px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 151px;
  width: 163px;
}

.x-2 .x1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 91px;
  position: absolute;
  top: 151px;
  width: 163px;
}

.x-2 .overlap-group {
  align-items: flex-end;
  background-image: url(../img/rectangle-3-35@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 44px;
  left: 956px;
  min-width: 161px;
  padding: 10.9px 0;
  position: absolute;
  top: 108px;
}
.og{
  align-items: flex-end;
  background-image: url(../img/rectangle-3-35@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 44px;
  left: 956px;
  min-width: 161px;
  padding: 10.9px 0;
  position: absolute;
  top: 108px;
}

.x-2 .text-111 {
  color: #2723eb;
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-xxs);
  font-weight: 700;
  height: 20px;
  letter-spacing: 0;
  text-align: center;
  width: 161px;
}

.x-2 .overlap-group1 {
  align-items: flex-end;
  background-image: url(../img/rectangle-3-36@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 44px;
  left: 797px;
  min-width: 161px;
  padding: 10.9px 0;
  position: absolute;
  top: 108px;
}
.og-1{
  align-items: flex-end;
  background-image: url(../img/rectangle-3-36@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 44px;
  left: 797px;
  min-width: 161px;
  padding: 10.9px 0;
  position: absolute;
  top: 108px;
}

.x-2 .text-11 {
  height: 20px;
  letter-spacing: 0;
  text-align: center;
  width: 161px;
}

.x-2 .overlap-group2 {
  align-items: flex-end;
  background-image: url(../img/rectangle-3-37@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 44px;
  left: 637px;
  min-width: 161px;
  padding: 10.9px 0.0px;
  position: absolute;
  top: 108px;
}
.og-2{
  align-items: flex-end;
  background-image: url(../img/rectangle-3-37@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 44px;
  left: 637px;
  min-width: 161px;
  padding: 10.9px 0.0px;
  position: absolute;
  top: 108px;
}

.x-2 .overlap-group3 {
  align-items: flex-end;
  background-image: url(../img/rectangle-3-38@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 44px;
  left: 478px;
  min-width: 161px;
  padding: 10.9px 0;
  position: absolute;
  top: 108px;
}

.og-3{
  align-items: flex-end;
  background-image: url(../img/rectangle-3-38@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 44px;
  left: 478px;
  min-width: 161px;
  padding: 10.9px 0;
  position: absolute;
  top: 108px;
}

.x-2 .text-114 {
  color: var(--black);
  font-family: var(--font-family-roboto_mono);
  font-size: var(--font-size-xxs);
  font-weight: 700;
  height: 20px;
  letter-spacing: 0;
  text-align: center;
  width: 161px;
}

.x-2 .overlap-group4 {
  align-items: flex-end;
  background-image: url(../img/rectangle-3-39@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 44px;
  left: 319px;
  min-width: 161px;
  padding: 10.9px 0.0px;
  position: absolute;
  top: 108px;
}

.og4{
  align-items: flex-end;
  background-image: url(../img/rectangle-3-39@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 44px;
  left: 319px;
  min-width: 161px;
  padding: 10.9px 0.0px;
  position: absolute;
  top: 108px;
}

.x-2 .overlap-group5 {
  align-items: flex-end;
  background-image: url(../img/rectangle-3-40@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 44px;
  left: 159px;
  min-width: 161px;
  padding: 10.9px 0;
  position: absolute;
  top: 108px;
}

.og-5{
  align-items: flex-end;
  background-image: url(../img/rectangle-3-40@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 44px;
  left: 159px;
  min-width: 161px;
  padding: 10.9px 0;
  position: absolute;
  top: 108px;
}

.x-2 .overlap-group6 {
  align-items: flex-end;
  background-image: url(../img/rectangle-3-41@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 44px;
  left: 0;
  min-width: 161px;
  padding: 10.9px 0.0px;
  position: absolute;
  top: 108px;
}

.x-2 .text-117 {
  color: #e31919;
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: 20px;
  letter-spacing: 0;
  text-align: center;
  width: 161px;
}

.x-2 .overlap-group7 {
  align-items: flex-end;
  background-image: url(../img/rectangle-8@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 109px;
  justify-content: flex-end;
  left: 0;
  min-width: 1117px;
  padding: 16.4px 0.4px;
  position: absolute;
  top: 0;
}

.x-2 .text-118 {
  color: var(--black);
  font-family: var(--font-family-noto_sans);
  font-size: 48px;
  font-weight: 700;
  height: 69px;
  letter-spacing: 0;
  text-align: center;
  width: 1114px;
}

.x-2 .overlap-group9 {
  height: 91px;
  margin-right: 0;
  margin-top: 419px;
  position: relative;
  width: 480px;
}

.x-2 .rectangle-3-5 {
  height: 91px;
  left: 319px;
  position: absolute;
  top: 0;
  width: 161px;
}

.x-2 .rectangle-3-15 {
  height: 91px;
  left: 159px;
  position: absolute;
  top: 0;
  width: 161px;
}

.x-2 .rectangle-3-16 {
  height: 91px;
  left: 0;
  position: absolute;
  top: 0;
  width: 161px;
}

.x-2 .rectangle-29 {
  background-color: var(--alto);
  height: 88px;
  left: 911px;
  position: absolute;
  top: 167px;
  width: 159px;
}

.x-2 .view-1 {
  align-items: flex-start;
  display: flex;
  height: 30px;
  left: 1194px;
  min-width: 150px;
  position: absolute;
  top: 58px;
}

.x-2 .overlap-group10 {
  border-radius: 2px;
  height: 30px;
  position: relative;
  width: 150px;
}

.month{
  align-items: flex-start;
  display: flex;
  height: 30px;
  left: 1194px;
  min-width: 150px;
  position: absolute;
  top: 58px;
  border-radius: 2px;
  height: 30px;
  position: relative;
  right: 20px;
  width: 150px;
}

.x-2 .view-2 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 2px;
  box-shadow: 0px 0px 4px #0000003d;
  display: flex;
  height: 30px;
  left: 0;
  overflow: hidden;
  padding: 10.0px 24px;
  position: absolute;
  top: 0;
  width: 150px;
}

.x-2 .caret {
  height: 9px;
  margin-left: 90px;
  width: 12px;
}

.x-2 .phone {
  height: 27px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
}

.x-2 .text-122 {
  cursor: pointer;
  height: 27px;
  left: 912px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 202px;
  width: 118px;
}

.x-2 .overlap-group11 {
  border-radius: 20px;
  height: 140px;
  left: 57px;
  position: absolute;
  top: 71px;
  width: 176px;
}

.x-2 .rectangle-28 {
  background-color: var(--alto);
  height: 44px;
  left: 1px;
  position: absolute;
  top: 48px;
  width: 175px;
}

.x-2 .rectangle-19 {
  border-radius: 20px;
  height: 140px;
  left: 0;
  position: absolute;
  top: 0;
  width: 176px;
}

.x-2 .vector-2 {
  height: 2px;
  left: 1px;
  position: absolute;
  top: 47px;
  width: 173px;
}

.x-2 .vector-3 {
  height: 2px;
  left: 1px;
  position: absolute;
  top: 91px;
  width: 173px;
}

.x-2 .text-119 {
  cursor: pointer;
  left: 20px;
  letter-spacing: -0.81px;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 131px;
}

.x-2 .text-120 {
  cursor: pointer;
  left: 20px;
  letter-spacing: -0.81px;
  position: absolute;
  text-align: center;
  top: 105px;
  width: 131px;
}

.x-2 .text-121 {
  left: 20px;
  letter-spacing: -0.81px;
  position: absolute;
  text-align: center;
  top: 56px;
  width: 131px;
}

.x-2 .button {
  align-items: flex-start;
  background-color: var(--tundora);
  border-radius: 10px;
  display: flex;
  height: 40px;
  margin-left: 311px;
  margin-top: 54px;
  min-width: 100px;
  padding: 10.6px 22.5px;
}

.x-2 .log-in {
  cursor: pointer;
  height: 15px;
  letter-spacing: 0.52px;
  min-width: 50px;
  text-align: center;
}
