.head{
    width: 90%;
    border-bottom: 2px solid black;
    margin: 0 auto;
}
.title{
    display: flex; 
    justify-content: space-between;     
    width: 93%;
    margin: 0 auto;
}
.title li{font-size: 20px; line-height: 50px;}
.right{
    width: 73%;
    height: 660px;
    border:  2px solid black;
    border-radius: 20px;
}
.list{
    border-bottom: 1px solid black;
    width: 90%;
    margin: 0 auto;
    display: flex;    
    height: 50px;
}

.right >.list:hover{
    background: gainsboro;
    transition: 0.3s;
}

.list.on{
    border-bottom: 2px solid black;
}

.description{
    display: flex; 
    justify-content: space-between; 
    width: 91%;
    margin: 0 auto;
}
.description li{line-height: 50px; }
.description li:nth-last-child(1){margin-right: -15px;}

.button{
    display: flex; justify-content: space-around; width: 300px;
    margin-top: 3%;
    margin-left: 2%;
}