header{
    width: 100%;
    background: #444;
    /* display: none; */
}

.logo{
    /* width: 15%; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px;
    margin-left: 10px;
}
/* .logo img{width: 100%;} */
.home{
    /* width: 15%; */
    padding: 15px;
    display: flex;
    gap: 10px;
    /* justify-content: space-between; */
    align-items: center;
}
.home img{width: 40px; height: 40px; padding: 0 10px;}
.name{
    color: white;
    text-align: center;
    white-space:nowrap;
}
#header{width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header{width: 1280px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}

#h_menu{
    width: 100%;
    background: #444;
    display: flex; justify-content: space-between; align-items: center;
}

.m_menu{
    width: 100%;
    display: none;
    transition: 0.3s;
    background: #444;
}

.m_menu.on{
    width: 100%;
    position: absolute;
    top: 70px;   
    display: block;
}
.m_menu li{
    width: 100%;
    color: white;
    line-height: 40px;
    background: #444;
    text-align: center;
}
.inform{display: flex; align-items: center; justify-content: center; padding: 10px; gap: 20px; padding-top: 30px;}

#wrap{
    width: 1280px;
    margin: 0 auto;
    padding-top: 5%;
    /* background-color: aquamarine; */
    
    display: flex;
    justify-content: center;
}
.left{
    width: 15%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: wheat;  */
}
.category{width: auto;}
.right{
    width: 73%;
    height: 660px;
    border:  2px solid black;
    border-radius: 20px;
}
nav{
    text-align: center;
    /* margin:15% auto; */
    margin-top: 15%;
    width: 160px;
    border: 2px solid black;
    border-radius: 10px;
    line-height: 40px;
    box-sizing: border-box;
}

.menu.on{background:gainsboro;}
nav .menu1{border-bottom: 2px solid black; border-top-left-radius:8px; border-top-right-radius: 8px;}
nav .menu2{border-bottom: 2px solid black;}
nav .menu3{border-bottom-left-radius:8px; border-bottom-right-radius: 8px;}
nav .menu:hover{background:gainsboro; transition: .6s;}

.head{
    width: 90%;
    border-bottom: 2px solid black;
    margin: 0 auto;
}
.title{
    display: flex; 
    justify-content: space-between;     
    width: 93%;
    margin: 0 auto;
}
.title li{font-size: 20px; line-height: 50px;}

.list{
    border-bottom: 1px solid black;
    width: 90%;
    margin: 0 auto;
    display: flex;    
    height: 50px;
}

.right >.list:hover{
    background: gainsboro;
    transition: 0.3s;
}

.list.on{
    border-bottom: 2px solid black;
}

.description{
    display: flex; 
    justify-content: space-between; 
    width: 91%;
    margin: 0 auto;
}
.description li{line-height: 50px; }
.description li:nth-last-child(1){margin-right: -15px;}

.button{
    display: flex; justify-content: space-around; width: 300px;
    margin-top: 3%;
    margin-left: 2%;
}

/* .ham{
    width: 40px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    /* display: none; */
    
}

.bar{
    width: 100%; height: 5px; background: white; 
    transition: 0.3s;
}
.bar:nth-child(even){
    position: relative;
    top: 7px;
    margin-bottom: 0;
    
}

.bar.on:nth-child(1),
.bar.on:nth-child(4){
    opacity: 0;
}



.bar.on:nth-child(2){
    transform: rotate(45deg);
}
.bar.on:nth-child(3){
    transform: rotate(-45deg);
}

#month{
    width: 120px;
    position: relative;
    bottom: 40px;
    right:-950px;
    font-size: 20px;
} */
.m_menu{
    display: none;
    text-align: center;
    color: #fff;
    line-height: 38px;
}
.m_menu li{
    width: 150px;
}
.m_menu .menu.on{
    background: #fff;
    color:#333;
}
/* .m_menu .menu3{border-bottom: 2px solid #333;} */