img {
    /* max-width: 100%; */
    height: auto;
}

html, body{
    height: 100%;
}
#wrap{
    max-width: 100%;
    margin: 0 auto;
}
header {
    background: #333;
    color: #fff;
    font-weight: bold;
}
.header_wrapper {
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.info {
    display: flex;
    align-items: center;
}
#main{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 5%;
    padding-top: 100px;
}
.left{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.category img{
    width: 290px;
    margin: 20px 0;
}
nav ul{
    border-radius: 10px;
    border: #999 2px solid;
}
nav ul li{
    width: 160px;
    line-height: 40px;
    min-height:30px ;
    /* border-bottom: 2px solid #666; */
    text-align: center;
}
.menu1{border-bottom: 2px solid #999; border-top-left-radius:8px; border-top-right-radius: 8px;} 
.menu1:hover{background: whitesmoke; transition: 0.3s;}
/* .menu1 :hover{background:gainsboro; transition: 0.3s;} */
.menu2{border-bottom: 2px solid #999;}
.menu2:hover{background: whitesmoke; transition: 0.3s;}
.menu3{border-bottom-left-radius:8px; border-bottom-right-radius: 8px;}
.menu3:hover{background: whitesmoke; transition: 0.3s;}
nav li.on{background: gainsboro;}
.right{
    width: 80%;
    height: calc(65vh+60px);
}
.calendarload{
    height: 65vh;
    border: #333 2px solid;
    border-radius: 20px;

}
.button{
    display: flex; justify-content: space-around; width: 300px;
    margin-top: 20px;
}
/* #footer{
    width: 100px;
    position: relative;
    left: 35%;
} */
.menu{
    position: fixed;
    /* display: none; */
}
.menubtn{
    position: fixed;
    top: 110px;
    right: 5px;
}
.menunav ul li{
    z-index: 10px;
    float: left;
    /* display: none; */
}
.line{
    width: 40px;
    height: 4px;
    background: #333;
    margin-bottom: 8px;
    border-radius: 5px;
}