@media(max-width:2000px){
    .left{width: 20%;}
    .right{width: 70%;}
    /* #h_menu{display: none;} */
}

@media(max-width:1280px ){
    #header{width: 100%};
    .left{width: 20%;}
    .right{width: 50%;}
    #wrap{width: 100%;}
    .title1 li:nth-child(1){
        text-align: left; width: 50px;
    }
    .description2 li:nth-child(1){text-align: left; width: 50px;}
}

@media(max-width:900px ){
    .left{width: auto;}
    .right{width: auto; }
}

@media(max-width:800px){
    .home img{width: 20px; height: 20px;}
    h1{font-size: 20px;}
    .logo img{width: 250px;} 
    .head li{font-size: 17px;}
    .list li{font-size: 12px;}
} 

@media(max-width:700px){
    #header{
        width: 100%;
    }
    #wrap{
        flex-direction: column;
        padding-top: 0;
        gap: 20px;
    }
    nav ul{
        display: flex;
    }
    /* .ham{display: flex; flex-wrap: wrap; padding: 20px;} */
    /* .home{display: none;} */
    .category{display: none;}
    .left{
        background: #444;
    }
    .right{
        width: 90%;
        margin: 0 auto;
    }
    nav{
        width: 100%;
    }
    nav ul{
        color: #fff;
        display: flex;
        justify-content: space-around;
    }
    .menu.on{
        background:#fff;
        color: #333;
    }
    nav .menu:hover{
        background:#fff; 
        color: #333;
        transition: .3s;}
}

@media(min-width:700px){
    nav .menu1{border-bottom: 2px solid black; border-top-left-radius:8px; border-top-right-radius: 8px;}
    nav .menu2{border-bottom: 2px solid black;}
    nav .menu3{border-bottom-left-radius:8px; border-bottom-right-radius: 8px;}
    nav .menu:hover{background:gainsboro; transition: .6s;}  
    nav{
        margin-top: 15%;
        border: 2px solid black;
        border-radius: 10px;
    }
    .menu.on{background:gainsboro;}
    nav .menu:hover{background:gainsboro; transition: .3s;}
    
    .title1 li:nth-child(1){
        text-align: left; width: 30px;
    }
    .description2 li:nth-child(1){text-align: left; width: 30px;}
}

@media(max-width:500px){
    .logo{width: 65%;}
    .logo img{width: 180px;}
    .home{width: 35%; gap: 0px ;}
}