* {
    margin:0;
    padding:0;
}
img{
    display: block;
    border:0;
}
.vacation{
    position: relative;
    top: 200px;
    left: 85px;
}

.body{
    height: 280px;
    position: absolute;
    top: 260px;
    left: 135px;
}
.body .grid{
	grid-template-columns: 1fr 4.2fr;
}
.body .grid2{
    grid-template-columns: 1fr 4.2fr;
}