* {
    margin:0;
    padding:0;
}
img{
    display: block;
    border:0;
}
a{display: block;}

.body{
    height: 340px;
    position: absolute;
    top: 220px;
    left: 110px;
}
.body .grid{
	grid-template-columns: 1fr 1.5fr 1fr 1.5fr;
}
.body .grid2{
    grid-template-columns: 1fr 4.2fr;
}
.grid2 #title{
    line-height: 26px;
}
.gridbox label{
    position: relative;
    left: calc(50% - 50px);
}
@media(max-width:768px){
    
    .gridbox{
        top: 10px;
    }
    .body .grid{
        grid-template-columns: 1fr 4.2fr;
        padding-bottom: 5px;
        gap: 5px 10px;
    }
    .body .grid2{
        grid-template-columns: none;
        gap: 5px 10px;
    }
}