
@media(max-width:900px ){
    .popup_body{
        width: 90%;
    }
    .head{
        width: 95%;
    }
    .writer, .textbox{
        width: 80%;
        left:10%;
    }
    .textbox{
        margin: 0 auto;
    }
    input{width: auto;}
    .text.t1{
        width: 17%;
    }
    .text.t2{
        width: 33%;
    }
    .vacation, .body{
        width: 70%;
    }
    .gridbox, .button-0{
        width: 65%;
    }
    .body, .button-0{
        left: 18%;
    }
    .gridbox{
        margin: 0;
    }
    .body .grid2{
        grid-template-columns: 100px 200px;
    }

}

@media(max-width:800px){
    .textbox{
        width: 80%; margin: 0 auto;
        margin-top: 130px;
    }
    input{width: auto;}
} 

@media(max-width:700px){
}