/* screen - screen */

.screen {
  align-items: flex-start;
  display: flex;
  width: 100%;
}

#overlay-screen {
  background-color: transparent;
}

.overlay .screen {
  background-color: #00000000;
}

.screen .view {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1024px;
  left: calc(50vw - 720.0px);
  overflow: hidden;
  position: relative;
  top: calc(50vh - 512.0px);
  width: 1440px;
}

.screen .overlap-group4 {
  align-items: center;
  background-color: var(--tundora-2);
  display: flex;
  height: 92px;
  min-width: 1454px;
  padding: 0 11px;
  margin-top: 3%;
}

.screen .frame-1 {
  height: 50px;
  width: 300px;
}

.screen .group-8 {
  align-items: flex-start;
  display: flex;
  height: 46px;
  justify-content: flex-end;
  margin-left: 839px;
  margin-top: 4.0px;
  min-width: 192px;
  padding: 0 4px;
}

.screen .image {
  height: 40px;
  margin-top: 1px;
  width: 35px;
}

.screen .text-42 {
  align-self: flex-end;
  letter-spacing: -0.81px;
  margin-left: 12px;
  min-height: 40px;
  text-align: center;
  width: 127px;
}

.screen .image-1 {
  height: 35px;
  margin-left: 21px;
  width: 45px;
}

.screen .overlap-group3 {
  align-self: flex-end;
  border-radius: 2px;
  height: 30px;
  margin-right: 66px;
  margin-top: 69px;
  position: relative;
  width: 150px;
}

.screen .menu1 {
  align-items: center;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  /* border-bottom: 0; */
  display: flex;
  flex-direction: column;
  height: calc(140px / 3);
  padding: 6px 0;
  width: 176px;
  background-image: url(../img/rectangle-20@2x.svg);
}

.screen .menu2 {
  align-items: center;
  border-bottom: 0;
  border-top: 0;
  display: flex;
  flex-direction: column;
  height: calc(140px / 3);
  padding: 6px 0;
  width: 176px;
}

.screen .menu3 {
  align-items: center;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: flex;
  flex-direction: column;
  height: calc(140px / 3);
  padding: 6px 0;
  width: 176px;
  /* border-top: 0; */
}

.screen .view-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 2px;
  box-shadow: 0px 0px 4px #0000003d;
  display: flex;
  height: 30px;
  left: 0;
  overflow: hidden;
  padding: 10.0px 24px;
  position: absolute;
  top: 0;
  width: 150px;
}

.screen .caret {
  height: 9px;
  margin-left: 90px;
  width: 12px;
}

.screen .phone {
  height: 27px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 1px;
}

.screen .overlap-group6 {
  height: 734px;
  margin-left: -5px;
  margin-top: 2px;
  position: relative;
  width: 1390px;
}

.screen .overlap-group5 {
  height: 734px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1390px;
}

.screen .frame-2 {
  height: 51px;
  left: 0;
  position: absolute;
  top: 0;
  width: 290px;
}

.screen .rectangle-18 {
  align-items: flex-start;
  display: flex;
  height: 719px;
  justify-content: center;
  left: 273px;
  min-width: 1117px;
  position: absolute;
  top: 15px;
}

.screen .overlap-group1 {
  border-radius: 20px;
  height: 723px;
  margin-top: -2px;
  position: relative;
  width: 1121px;
}

.screen .group-2 {
  height: 536px;
  left: 55px;
  position: absolute;
  top: 68px;
  width: 1010px;
}

.screen .rectangle-18-1 {
  border-radius: 20px;
  height: 723px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1121px;
}

.screen .navbar {
  align-items: flex-start;
  display: flex;
  height: 37px;
  left: 55px;
  min-width: 967px;
  position: absolute;
  top: 25px;
}

.screen .navbar-link-no {
  height: 37px;
  letter-spacing: 0.80px;
  text-align: center;
  width: 88px;
}

.screen .navbar-link-text-30 {
  height: 37px;
  letter-spacing: 0.80px;
  margin-left: 184px;
  text-align: center;
  width: 88px;
}

.screen .navbar-link-text-28 {
  height: 37px;
  letter-spacing: 0.80px;
  margin-left: 269px;
  text-align: center;
  width: 88px;
}

.screen .navbar-link-text-29 {
  height: 37px;
  letter-spacing: 0.80px;
  margin-left: 154px;
  text-align: center;
  width: 88px;
}

.screen .contents1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 53px;
  left: 55px;
  min-width: 1018px;
  position: absolute;
  top: 70px;
}

.screen .overlap-group {
  height: 53px;
  position: relative;
  width: 1010px;
}

.screen .select {
  background-color: var(--alto);
  height: 52px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 1009px;
}

.screen .text-31 {
  height: 49px;
  left: 89px;
  letter-spacing: 0.60px;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 431px;
}

.screen .number-1 {
  height: 46px;
  left: 0;
  letter-spacing: 0.60px;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 56px;
}

.screen .text-32 {
  height: 44px;
  left: 598px;
  letter-spacing: 0.60px;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 148px;
}

.screen .date-1 {
  height: 44px;
  left: 829px;
  letter-spacing: 0.60px;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 148px;
}

.screen .contents2 {
  align-items: flex-end;
  display: flex;
  height: 60px;
  left: 55px;
  min-width: 985px;
  position: absolute;
  top: 122px;
}

.screen .number-2 {
  height: 56px;
  letter-spacing: 0.60px;
  margin-bottom: 0;
  text-align: center;
  width: 56px;
}

.screen .text-33 {
  height: 60px;
  letter-spacing: 0.60px;
  margin-left: 33px;
  text-align: center;
  width: 431px;
}

.screen .text-34 {
  height: 54px;
  letter-spacing: 0.60px;
  margin-bottom: 1.22px;
  margin-left: 78px;
  text-align: center;
  width: 148px;
}

.screen .date-2 {
  height: 54px;
  letter-spacing: 0.60px;
  margin-bottom: 1.22px;
  margin-left: 83px;
  text-align: center;
  width: 148px;
}

.screen .contents3 {
  align-items: flex-end;
  display: flex;
  height: 49px;
  left: 55px;
  min-width: 985px;
  position: absolute;
  top: 194px;
}

.screen .number {
  height: 46px;
  letter-spacing: 0.60px;
  text-align: center;
  width: 56px;
}

.screen .text-3 {
  height: 49px;
  letter-spacing: 0.60px;
  margin-left: 33px;
  text-align: center;
  width: 431px;
}

.screen .text-3-1 {
  height: 44px;
  letter-spacing: 0.60px;
  margin-bottom: 1px;
  margin-left: 78px;
  text-align: center;
  width: 148px;
}

.screen .date {
  height: 44px;
  letter-spacing: 0.60px;
  margin-bottom: 1px;
  margin-left: 83px;
  text-align: center;
  width: 148px;
}

.screen .contents4 {
  align-items: flex-end;
  display: flex;
  height: 49px;
  left: 55px;
  min-width: 985px;
  position: absolute;
  top: 253px;
}

.screen .group-5 {
  align-items: flex-start;
  display: flex;
  height: 40px;
  left: 316px;
  min-width: 231px;
  position: absolute;
  top: 669px;
}

.screen .button {
  align-items: flex-start;
  background-color: var(--tundora);
  border-radius: 10px;
  display: flex;
  height: 40px;
  min-width: 100px;
  padding: 10.6px 22.5px;
}

.screen .log-in {
  height: 15px;
  letter-spacing: 0.52px;
  min-width: 50px;
  text-align: center;
}

.screen .button-1 {
  align-items: flex-start;
  background-color: var(--tundora);
  border-radius: 10px;
  display: flex;
  height: 40px;
  margin-left: 31px;
  min-width: 100px;
  padding: 10.6px 22.5px;
}

.screen .log-in-1 {
  cursor: pointer;
  height: 15px;
  letter-spacing: 0.52px;
  min-width: 50px;
  text-align: center;
}

.screen .caegory {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 57px;
  min-height: 140px;
  position: absolute;
  top: 71px;
  width: 182px;
}

.screen .overlap-group2 {
  align-items: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  min-height: 140px;
  padding: 6px 0;
  width: 176px;
}

.screen .text-39 {
  line-height: 30px;
  text-align: center;
  width: 131px;
}

.screen .vector {
  height: 2px;
  margin-right: 3.0px;
  margin-top: 5px;
  width: 173px;
}

.screen .text-41 {
  cursor: pointer;
  line-height: 35px;
  text-align: center;
  width: 131px;
}

.screen .text-40 {
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  width: 131px;
}

.screen .rectangle-20 {
  height: 46px;
  margin-left: 2px;
  margin-top: 124px;
  width: 173px;
}
