/* screen - yeoncailjeong-dalryeog-peiji */

.yeoncailjeong-dalryeog-peiji {
  align-items: flex-start;
  display: flex;
  width: 1440px;
}

#overlay-yeoncailjeong-dalryeog-peiji {
  background-color: transparent;
}

.overlay .yeoncailjeong-dalryeog-peiji {
  background-color: #00000000;
}

.yeoncailjeong-dalryeog-peiji .view-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  left: calc(50vw - 720.0px);
  overflow: hidden;
  position: relative;
  top: calc(50vh - 512.0px);
  width: 1440px;
}

.yeoncailjeong-dalryeog-peiji .overlap-group17 {
  height: 1024px;
  margin-left: -5px;
  position: relative;
  width: 1445px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-17 {
  background-color: var(--tundora-2);
  height: 92px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.yeoncailjeong-dalryeog-peiji .text-container {
  height: 46px;
  left: 1155px;
  position: absolute;
  top: 25px;
  width: 188px;
}

.yeoncailjeong-dalryeog-peiji .text-1 {
  left: 0;
  letter-spacing: -0.81px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 63px;
}

.yeoncailjeong-dalryeog-peiji .text-2 {
  left: 61px;
  letter-spacing: -0.81px;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 127px;
}

.yeoncailjeong-dalryeog-peiji .frame-1 {
  height: 50px;
  left: 16px;
  position: absolute;
  top: 21px;
  width: 300px;
}

.yeoncailjeong-dalryeog-peiji .frame-2 {
  height: 51px;
  left: 0;
  position: absolute;
  top: 193px;
  width: 290px;
}

.yeoncailjeong-dalryeog-peiji .text-3 {
  left: 1359px;
  letter-spacing: -0.81px;
  position: absolute;
  text-align: center;
  top: 25px;
  width: 63px;
}

.yeoncailjeong-dalryeog-peiji .calendar {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 273px;
  min-height: 600px;
  position: absolute;
  top: 208px;
  width: 1117px;
}

.yeoncailjeong-dalryeog-peiji .overlap-group12 {
  height: 600px;
  margin-right: -268.0px;
  position: relative;
  width: 1385px;
}

.yeoncailjeong-dalryeog-peiji .x31 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 319px;
  min-width: 163px;
  position: absolute;
  top: 509px;
}

.yeoncailjeong-dalryeog-peiji .number {
  height: 28px;
  letter-spacing: 0;
  margin-top: 8.74px;
  width: 35px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-3-3 {
  align-self: flex-end;
  height: 91px;
  margin-bottom: -717.29px;
  margin-left: 539px;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .x30 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 159px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 509px;
  width: 163px;
}

.yeoncailjeong-dalryeog-peiji .number-1 {
  height: 28px;
  letter-spacing: 0;
  margin-left: 12.69px;
  margin-top: 9px;
  width: 35px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-3-4 {
  height: 91px;
  margin-top: 680px;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .x29 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 163px;
  position: absolute;
  top: 509px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-3-5 {
  align-self: flex-end;
  height: 91px;
  margin-bottom: -717.29px;
  margin-left: 220px;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .x28 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 956px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 420px;
  width: 163px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-3 {
  height: 91px;
  margin-top: 591px;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .x27 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 797px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 420px;
  width: 163px;
}

.yeoncailjeong-dalryeog-peiji .x26 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 637px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 420px;
  width: 163px;
}

.yeoncailjeong-dalryeog-peiji .x25 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 478px;
  min-width: 163px;
  position: absolute;
  top: 420px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-3-6 {
  align-self: flex-end;
  height: 91px;
  margin-bottom: -627.67px;
  margin-left: 698px;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .x24 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 319px;
  min-width: 163px;
  position: absolute;
  top: 420px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-3-7 {
  align-self: flex-end;
  height: 91px;
  margin-bottom: -627.67px;
  margin-left: 539px;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .x23 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 159px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 420px;
  width: 163px;
}

.yeoncailjeong-dalryeog-peiji .x22 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 163px;
  position: absolute;
  top: 420px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-3-8 {
  align-self: flex-end;
  height: 91px;
  margin-bottom: -627.67px;
  margin-left: 220px;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .x21 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 956px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 330px;
  width: 163px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-3-1 {
  height: 91px;
  margin-top: 501px;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .x20 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 797px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 330px;
  width: 163px;
}

.yeoncailjeong-dalryeog-peiji .x19 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 637px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 330px;
  width: 163px;
}

.yeoncailjeong-dalryeog-peiji .x18 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 478px;
  min-width: 163px;
  position: absolute;
  top: 330px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-3-9 {
  align-self: flex-end;
  height: 91px;
  margin-bottom: -538.05px;
  margin-left: 698px;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .x17 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 319px;
  min-width: 163px;
  position: absolute;
  top: 330px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-3-10 {
  align-self: flex-end;
  height: 91px;
  margin-bottom: -538.05px;
  margin-left: 539px;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .x16 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 159px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 330px;
  width: 163px;
}

.yeoncailjeong-dalryeog-peiji .x15 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 163px;
  position: absolute;
  top: 330px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-3-11 {
  align-self: flex-end;
  height: 91px;
  margin-bottom: -538.05px;
  margin-left: 220px;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .overlap-group {
  align-items: flex-start;
  background-image: url(../img/rectangle-3-21@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  left: 956px;
  min-width: 161px;
  padding: 8.7px 12.7px;
  position: absolute;
  top: 240px;
}

.yeoncailjeong-dalryeog-peiji .number-2 {
  height: 28px;
  letter-spacing: 0;
  width: 35px;
}

.yeoncailjeong-dalryeog-peiji .overlap-group1 {
  align-items: flex-start;
  background-image: url(../img/rectangle-3-22@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  left: 797px;
  min-width: 161px;
  padding: 8.7px 12.7px;
  position: absolute;
  top: 240px;
}

.yeoncailjeong-dalryeog-peiji .overlap-group2 {
  align-items: flex-start;
  background-image: url(../img/rectangle-3-23@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  left: 637px;
  min-width: 161px;
  padding: 8.7px 12.7px;
  position: absolute;
  top: 240px;
}

.yeoncailjeong-dalryeog-peiji .x11 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 478px;
  min-width: 163px;
  position: absolute;
  top: 240px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-3-12 {
  height: 91px;
  margin-left: 698px;
  margin-top: 0;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .x10 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 319px;
  min-width: 163px;
  position: absolute;
  top: 240px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-3-13 {
  height: 91px;
  margin-left: 539px;
  margin-top: 0;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .overlap-group3 {
  align-items: flex-start;
  background-image: url(../img/rectangle-3-26@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 91px;
  left: 159px;
  min-width: 161px;
  padding: 8.7px 12.7px;
  position: absolute;
  top: 240px;
}

.yeoncailjeong-dalryeog-peiji .number-5 {
  height: 28px;
  letter-spacing: 0;
  width: 18px;
}

.yeoncailjeong-dalryeog-peiji .x8 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 163px;
  position: absolute;
  top: 240px;
}

.yeoncailjeong-dalryeog-peiji .number-3 {
  height: 28px;
  letter-spacing: 0;
  margin-top: 8.74px;
  width: 18px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-3-14 {
  height: 91px;
  margin-left: 237px;
  margin-top: 0;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .x7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 956px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 151px;
  width: 163px;
}

.yeoncailjeong-dalryeog-peiji .number-4 {
  height: 28px;
  letter-spacing: 0;
  margin-left: 12.69px;
  margin-top: 9px;
  width: 18px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-3-2 {
  height: 91px;
  margin-top: 322px;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .x6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 797px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 151px;
  width: 163px;
}

.yeoncailjeong-dalryeog-peiji .x5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 637px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 151px;
  width: 163px;
}

.yeoncailjeong-dalryeog-peiji .x4 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 478px;
  min-width: 163px;
  position: absolute;
  top: 151px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-3-15 {
  align-self: flex-end;
  height: 91px;
  margin-bottom: -358.82px;
  margin-left: 715px;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .x3 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 319px;
  min-width: 163px;
  position: absolute;
  top: 151px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-3-16 {
  align-self: flex-end;
  height: 91px;
  margin-bottom: -358.82px;
  margin-left: 556px;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .x2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 159px;
  min-height: 91px;
  padding: 0 0.0px;
  position: absolute;
  top: 151px;
  width: 163px;
}

.yeoncailjeong-dalryeog-peiji .x1 {
  align-items: flex-start;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  left: 0;
  min-width: 163px;
  position: absolute;
  top: 151px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-3-17 {
  align-self: flex-end;
  height: 91px;
  margin-bottom: -358.82px;
  margin-left: 237px;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .overlap-group4 {
  align-items: flex-end;
  background-image: url(../img/rectangle-3-35@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 44px;
  left: 956px;
  min-width: 161px;
  padding: 10.9px 0;
  position: absolute;
  top: 108px;
}

.yeoncailjeong-dalryeog-peiji .text-4 {
  color: #2723eb;
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-xxs);
  font-weight: 700;
  height: 20px;
  letter-spacing: 0;
  text-align: center;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .overlap-group5 {
  align-items: flex-end;
  background-image: url(../img/rectangle-3-36@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 44px;
  left: 797px;
  min-width: 161px;
  padding: 10.9px 0;
  position: absolute;
  top: 108px;
}

.yeoncailjeong-dalryeog-peiji .text {
  height: 20px;
  letter-spacing: 0;
  text-align: center;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .overlap-group6 {
  align-items: flex-end;
  background-image: url(../img/rectangle-3-37@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 44px;
  left: 637px;
  min-width: 161px;
  padding: 10.9px 0.0px;
  position: absolute;
  top: 108px;
}

.yeoncailjeong-dalryeog-peiji .overlap-group7 {
  align-items: flex-end;
  background-image: url(../img/rectangle-3-38@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 44px;
  left: 478px;
  min-width: 161px;
  padding: 10.9px 0;
  position: absolute;
  top: 108px;
}

.yeoncailjeong-dalryeog-peiji .text-7 {
  color: var(--black);
  font-family: var(--font-family-roboto_mono);
  font-size: var(--font-size-xxs);
  font-weight: 700;
  height: 20px;
  letter-spacing: 0;
  text-align: center;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .overlap-group8 {
  align-items: flex-end;
  background-image: url(../img/rectangle-3-39@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 44px;
  left: 319px;
  min-width: 161px;
  padding: 10.9px 0.0px;
  position: absolute;
  top: 108px;
}

.yeoncailjeong-dalryeog-peiji .overlap-group9 {
  align-items: flex-end;
  background-image: url(../img/rectangle-3-40@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 44px;
  left: 159px;
  min-width: 161px;
  padding: 10.9px 0;
  position: absolute;
  top: 108px;
}

.yeoncailjeong-dalryeog-peiji .overlap-group10 {
  align-items: flex-end;
  background-image: url(../img/rectangle-3-41@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 44px;
  left: 0;
  min-width: 161px;
  padding: 10.9px 0.0px;
  position: absolute;
  top: 108px;
}

.yeoncailjeong-dalryeog-peiji .text-10 {
  color: #e31919;
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: 20px;
  letter-spacing: 0;
  text-align: center;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .overlap-group11 {
  height: 109px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 1382px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-8 {
  height: 109px;
  left: 265px;
  position: absolute;
  top: 0;
  width: 1117px;
}

.yeoncailjeong-dalryeog-peiji .text-11 {
  color: var(--black);
  font-family: var(--font-family-noto_sans);
  font-size: 48px;
  font-weight: 700;
  height: 69px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 24px;
  width: 1114px;
}

.yeoncailjeong-dalryeog-peiji .flex-row {
  align-items: flex-start;
  display: flex;
  margin-right: -267.58px;
  margin-top: 627px;
  min-width: 747px;
}

.yeoncailjeong-dalryeog-peiji .overlap-group13 {
  height: 91px;
  position: relative;
  width: 480px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-3-18 {
  height: 91px;
  left: 319px;
  position: absolute;
  top: 0;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-3-19 {
  height: 91px;
  left: 159px;
  position: absolute;
  top: 0;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-3-20 {
  height: 91px;
  left: 0;
  position: absolute;
  top: 0;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-3-21 {
  height: 91px;
  margin-left: 107px;
  width: 161px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-29 {
  background-color: var(--alto);
  height: 88px;
  left: 911px;
  position: absolute;
  top: 360px;
  width: 159px;
}

.yeoncailjeong-dalryeog-peiji .overlap-group14 {
  border-radius: 2px;
  height: 30px;
  left: 1194px;
  position: absolute;
  top: 251px;
  width: 150px;
}

.yeoncailjeong-dalryeog-peiji .view {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 2px;
  box-shadow: 0px 0px 4px #0000003d;
  display: flex;
  height: 30px;
  left: 0;
  overflow: hidden;
  padding: 10.0px 24px;
  position: absolute;
  top: 0;
  width: 150px;
}

.yeoncailjeong-dalryeog-peiji .caret {
  height: 9px;
  margin-left: 90px;
  width: 12px;
}

.yeoncailjeong-dalryeog-peiji .phone {
  height: 27px;
  left: 10px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 1px;
}

.yeoncailjeong-dalryeog-peiji .button {
  align-items: flex-start;
  background-color: var(--tundora);
  border-radius: 10px;
  display: flex;
  height: 40px;
  left: 316px;
  min-width: 100px;
  padding: 10.6px 22.5px;
  position: absolute;
  top: 862px;
}

.yeoncailjeong-dalryeog-peiji .log-in {
  height: 15px;
  letter-spacing: 0.52px;
  min-width: 50px;
  text-align: center;
}

.yeoncailjeong-dalryeog-peiji .overlap-group15 {
  border-radius: 20px;
  height: 140px;
  left: 57px;
  position: absolute;
  top: 264px;
  width: 176px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-28 {
  background-color: var(--alto);
  height: 44px;
  left: 1px;
  position: absolute;
  top: 48px;
  width: 175px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-19 {
  border-radius: 20px;
  height: 140px;
  left: 0;
  position: absolute;
  top: 0;
  width: 176px;
}

.yeoncailjeong-dalryeog-peiji .vector-2 {
  height: 2px;
  left: 1px;
  position: absolute;
  top: 47px;
  width: 173px;
}

.yeoncailjeong-dalryeog-peiji .vector-3 {
  height: 2px;
  left: 1px;
  position: absolute;
  top: 91px;
  width: 173px;
}

.yeoncailjeong-dalryeog-peiji .text-12 {
  left: 20px;
  letter-spacing: -0.81px;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 131px;
}

.yeoncailjeong-dalryeog-peiji .text-13 {
  left: 20px;
  letter-spacing: -0.81px;
  position: absolute;
  text-align: center;
  top: 105px;
  width: 131px;
}

.yeoncailjeong-dalryeog-peiji .text-14 {
  left: 20px;
  letter-spacing: -0.81px;
  position: absolute;
  text-align: center;
  top: 56px;
  width: 131px;
}

.yeoncailjeong-dalryeog-peiji .text-15 {
  height: 27px;
  left: 912px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 395px;
  width: 118px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-21 {
  background-color: var(--tundora-3);
  height: 1024px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.yeoncailjeong-dalryeog-peiji .overlap-group16 {
  border-radius: 10px;
  height: 660px;
  left: 263px;
  position: absolute;
  top: 213px;
  width: 870px;
}

.yeoncailjeong-dalryeog-peiji .popup {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  height: 660px;
  left: 0;
  min-width: 870px;
  padding: 11px 0;
  position: absolute;
  top: 0;
}

.yeoncailjeong-dalryeog-peiji .head {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: -25px;
  margin-top: 7px;
  min-height: 213px;
  width: 819px;
}

.yeoncailjeong-dalryeog-peiji .view-2 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 98px;
  padding: 0 42px;
  width: 270px;
}

.yeoncailjeong-dalryeog-peiji .image {
  align-self: center;
  height: 40px;
  margin-right: 4.0px;
  margin-top: 3px;
  width: 35px;
}

.yeoncailjeong-dalryeog-peiji .text-19 {
  height: 21px;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: -3px;
  margin-top: 34px;
  text-align: center;
  white-space: nowrap;
  width: 182px;
}

.yeoncailjeong-dalryeog-peiji .overlap-group-1 {
  align-self: flex-end;
  height: 51px;
  margin-right: -65px;
  margin-top: 17px;
  position: relative;
  width: 792px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-25 {
  background-color: var(--alto);
  height: 50px;
  left: 329px;
  position: absolute;
  top: 0;
  width: 123px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-26 {
  background-color: var(--alto);
  height: 50px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 123px;
}

.yeoncailjeong-dalryeog-peiji .rectangle-23 {
  height: 50px;
  left: 67px;
  position: absolute;
  top: 1px;
  width: 725px;
}

.yeoncailjeong-dalryeog-peiji .vector-4 {
  height: 48px;
  left: 124px;
  position: absolute;
  top: 2px;
  width: 1px;
}

.yeoncailjeong-dalryeog-peiji .vector-5 {
  height: 48px;
  left: 328px;
  position: absolute;
  top: 1px;
  width: 1px;
}

.yeoncailjeong-dalryeog-peiji .vector-6 {
  height: 48px;
  left: 452px;
  position: absolute;
  top: 2px;
  width: 1px;
}

.yeoncailjeong-dalryeog-peiji .text-16 {
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: 125px;
}

.yeoncailjeong-dalryeog-peiji .text-17 {
  left: 327px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: 125px;
}

.yeoncailjeong-dalryeog-peiji .text-18 {
  left: 136px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: 89px;
}

.yeoncailjeong-dalryeog-peiji .si {
  left: 493px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: 89px;
}

.yeoncailjeong-dalryeog-peiji .text-20 {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 72px;
  margin-top: 17px;
  min-height: 30px;
  text-align: center;
  width: 375px;
}

.yeoncailjeong-dalryeog-peiji .view-3 {
  align-items: flex-start;
  background-color: var(--tundora);
  border-radius: 10px;
  display: flex;
  height: 30px;
  margin-left: 15px;
  min-width: 30px;
  padding: 6.0px 8.0px;
}

.yeoncailjeong-dalryeog-peiji .log-in-1 {
  height: 15px;
  letter-spacing: 0.52px;
  min-width: 9px;
  text-align: center;
}

.yeoncailjeong-dalryeog-peiji .view-4 {
  align-items: flex-start;
  background-color: var(--alto);
  border-radius: 20px;
  display: flex;
  height: 226px;
  left: 127px;
  min-width: 608px;
  padding: 17px 18px;
  position: absolute;
  top: 271px;
}

.yeoncailjeong-dalryeog-peiji .text-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  min-height: 148px;
  width: 88px;
}

.yeoncailjeong-dalryeog-peiji .text-22 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 35px;
  text-align: center;
  width: 88px;
}

.yeoncailjeong-dalryeog-peiji .text-23 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 13px;
  min-height: 35px;
  text-align: center;
  width: 88px;
}

.yeoncailjeong-dalryeog-peiji .text-24 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 30px;
  min-height: 35px;
  text-align: center;
  width: 88px;
}

.yeoncailjeong-dalryeog-peiji .overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 173px;
  width: 483px;
}

.yeoncailjeong-dalryeog-peiji .overlap-group1-1 {
  border-radius: 2px;
  height: 30px;
  margin-left: 12px;
  position: relative;
  width: 150px;
}

.yeoncailjeong-dalryeog-peiji .text-21 {
  left: 26px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 4px;
  white-space: nowrap;
  width: 75px;
}

.yeoncailjeong-dalryeog-peiji .overlap-group3-1 {
  border-radius: 2px;
  height: 30px;
  margin-left: 12px;
  margin-top: 22px;
  position: relative;
  width: 150px;
}

.yeoncailjeong-dalryeog-peiji .date {
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: 86px;
}

.yeoncailjeong-dalryeog-peiji .overlap-group2-1 {
  height: 68px;
  margin-top: 23px;
  position: relative;
  width: 483px;
}

.yeoncailjeong-dalryeog-peiji .view-5 {
  background-color: var(--white);
  border-radius: 2px;
  box-shadow: 0px 0px 4px #0000003d;
  height: 68px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 471px;
}

.yeoncailjeong-dalryeog-peiji .text-25 {
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
  width: 76px;
}
