#wrap{width: 100%;
    margin: 0 auto;
    text-align: center;
}
h1{
  color: #313741d6;
  font-family: var(--font-family-roboto);
  font-size: 73.2px;
  font-weight: 700;
  letter-spacing: -0.81px;
  line-height: 120px;
  padding: 20px 0;
}
.logo img{
  display : block;
  margin : auto;}
.login{
  margin-top: 10%;
}
.view1{
  /* align-items: flex-start; */
  background-color: var(--white);
  border-radius: 5px;
  /* display: flex; */
  margin: 0 auto;
  margin-bottom: 10px;
  width: calc(343px - 30px) ;
  padding: 15px;
  border: 2px solid black;
  text-align: left;
}


input{
  background-color: var(--white);
  border-radius: 5px;
  /* display: flex; */
  margin: 0 auto;
  margin-bottom: 10px;
  width: calc(343px - 30px) ;
  padding: 15px;
  border: 2px solid black;
  text-align: left;
}

::placeholder{
  line-height: 50px;
  font-size: 15px;
}
@media(max-width:828px){
  .logo img{
    width: 100%;
  }
  input{
    width: 38%;
  }
}